@import "tailwindcss";


body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Variables de tema claro */
:root {
  --primary-color: #3b82f6;
  --primary-hover: #303746;
  --primary-surface: #2563eb;
  --primary-contrast-color: #ffffff;
  --primary-contrast-darktext: #0f172a;
  --card-header-height: 120px;
  --text-color: #1e293b;
  --text-color-secondary: #64748b;
  --text-muted-color: #94a3b8;
  --button-shadow: rgba(59, 130, 246, 0.3);
  --button-shadow-light: rgba(59, 130, 246, 0.2);
}

/* Variables de tema oscuro */
.app-dark {
  --primary-color: #60a5fa;
  --primary-hover: #3b82f6;
  --primary-surface: #1f6feb;
  --primary-contrast-color: #0f0f0f;
  --primary-contrast-darktext: #ffffff;
  --text-color: #f4f4f5;
  --text-color-secondary: #a3a3a3;
  --text-muted-color: #737373;
  --button-shadow: rgba(96, 165, 250, 0.4);
  --button-shadow-light: rgba(96, 165, 250, 0.25);
}


